h1 {
  font-family: sans-serif;
  font-style: italic;
}
p {
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  text-decoration:dotted;
}
body {
  font-size: 16px;
  line-height: 30px;
}

#amarelo {
  background-color: yellow;
}

#vermelho {
  background-color: red;
}

#marrom {
  background-color: brown;
}